{% extends 'users/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="col-md-6 offset-md-3 p-4 container-custom">
        <h3 class="text-center mb-4">Créer un compte</h3>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary w-100" type="submit">S'inscrire</button>
        </form>

        <p class="text-center mt-3">
            Déjà inscrit ? <a href="{% url 'login' %}">Connexion</a>
        </p>
    </div>
</div>
{% endblock %}
